.author {
    text-align: center;
    background: #fff;
    border-radius: 3px;
    margin-left: .5rem;
    background-image: url(http://localhost:3000/author_bg.jpg);
    background-repeat: no-repeat;
}

.author_avatar {
    padding-top: 2rem;
}

.ant-avatar-image {
    background: #9cdffe;
}

.author_name {
    padding-top: .7rem;
}

.account {
    margin: 0 .7rem;
}

.author_text {
    color: #ccc;
    font-size: .7rem;
    padding-top: .7rem;
}

.author_gethub {
    padding: .7rem;
    padding-bottom: 1.5rem;
}