body {
    background-color: #f4f5f5 !important
}

.index_main {
    padding-top: .5rem;
}

.comm_div {
    margin-left: .5rem;
    margin-top: .5rem;
    background: #fff;
    border-radius: 3px;
    padding: .3rem;
}