body {
    background-image: url(https://img.t.sinajs.cn/t6/skin/skin041/images/body_bg.jpg?id=1410943047113);
    background-repeat: no-repeat;
    background-color: #1c1a18 !important;
}

.index_main {
    padding-top: .5rem;
}

.comm_div {
    margin-left: .5rem;
    margin-top: .5rem;
    background: #fff;
    border-radius: 3px;
    padding: .3rem;
}

.advert_div img:not(:last-child) {
    padding-bottom: .3rem;
}