.index_list_item {
    background: #fff;
    border-radius: 3px;
}

.ant-list-bordered {
    border-radius: 5px;
    background: #fff;
    border: none;
}

.ant-breadcrumb>span:last-child {
    color: rgba(0, 0, 0, 0.45);
}

.ant-breadcrumb-separator {
    padding: 0 .3rem !important;
    color: rgba(0, 0, 0, 0.10);
}

.list_title {
    font-weight: 500;
    padding: .3rem 0;
    font-size: 1.1rem;
}

.cursor-hand {
    cursor: default;
    border-bottom: 1px solid #eee;
}

p {
    margin-bottom: 0;
}

.b-span {
    color: #6a6a6a;
}

.list_content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.7rem;
}